<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light text-wine">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title"></h4>

				<form th:action="@{/administrador/form}" method="post"
					th:object="${administrador}">
					

					<div class="form-group row">
						<label class="col-form-label col-sm-2" for="nombre">Nombre</label>
						<div class="col-sm-4">
							<input type="text" id="nombre" th:field="*{nombre}"
								class="form-control">
						</div>
						<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
							class="alert alert-secondary"></div>
					</div>	
					
					<div class="form-group row">
						<label class="col-form-label col-sm-2" for="area">Area</label>
						<div class="col-sm-4">
							<input type="text" id="area" th:field="*{area}"
								class="form-control">
						</div>
						<div th:if="${#fields.hasErrors('area')}" th:errors="*{area}"
							class="alert alert-secondary"></div>
					</div>					
					
					<div class="form-group row">
						<label class="col-form-label col-sm-2" for="email">Email</label>
						<div class="col-sm-4">
							<input type="text" id="aMaterno" th:field="*{email}"
								class="form-control">
						</div>
						<div th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}" class="alert alert-secondary"></div>
					</div>



					<div class="form-group row">
						<div class="col-sm-4">
							<input type="submit" value="Enviar" class="btn bg-company-orange text-white">
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>